.bg-top-right {
    background: url('../../../../../assets/bg-top-right.png') no-repeat top left;
    background-size: cover;
    height: 140vh;
    width: 54%;
    position: absolute;
    top: 0;
    right: 0;

    @media only screen and (max-width: 768px) {
        height: 85vh;
        width: 98%;
    }
    @media only screen and (min-width: 1500px) {
        width: 50%;
        height: 120vh;
    }
}
