<footer class="footer">
    <div class="footer__container">
        <div class="footer__col">
            <span class="logo-icon"></span>
            <span class="logo-header">TymDev</span>
            <div>2019 TymDev sp. z o. o. ®</div>
            <div>all rights reserved ©</div>
        </div>
        <div class="footer__col">
            <ul>
                <li>
                    <a href="#skills">umiejętności</a>
                </li>
                <li>
                    <a href="#skills">portfolio</a>
                </li>
                <li>
                    <a href="#skills">kontakt</a>
                </li>
                <li>
                    <a href="tymdev.pl/admin" target="_blank">dla klientów</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <ul>
                <li>
                    <a href="#skills">GitHub</a>
                </li>
                <li>
                    <a href="#skills">Forum PI</a>
                </li>
                <li>
                    <a href="#skills">StackOverflow</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <ul>
                <li>
                    <a href="mailto:kontakt@tymdev.pl" target="_top">kontakt@tymdev.pl</a>
                </li>
                <li>
                    <a href="tel:123-456-7890">+48 999 999 999</a>
                </li>
            </ul>
        </div>
    </div>
</footer>