.footer {
  margin-top: 20vh;
  height: 200px;
  width: 100%;
  background-color: #354ed4;
  border-top: 22px solid #3a55e9;

  &__container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding: 30px 0;
  }

  &__col {
    width: 25%;
  }
}