.portfolio {
  width: 100%;
  min-height: 100vh;
  margin: 30vh auto;

  @media only screen and (max-width: 768px) {
    margin-top: 20vh;
    margin-bottom: 10vh;
  }

  &__header {
    text-align: center;
    margin-bottom: 50px;

    &-container {
      margin: 0 auto;
      text-align: center;
      max-width: 500px;
    }

    &-paragraph {
      font-family: 'Lato', sans-serif;
      width: 100%;
      font-size: 16px;
      color: #313131;

      @media only screen and (max-width: 768px) {
        padding: 10px;
      }
    }
  }
}

.nav-light {
  display: flex;
  overflow: hidden;

  .swiper-wrapper {
    display: flex;
    list-style: none;
  }
}

.swiper-slide {
  display: flex;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.portfolio {
    &__image {
    margin-left: -6%;
    width: 75%;
    height: 95vh;
    background-size: contain;
    background-repeat: no-repeat;

      @media only screen and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        height: 36vh;
      }
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    margin-left: -7%;
    width: 30%;
    padding: 10px;

    @media only screen and (max-width: 768px) {
      margin-left: 0;
      width: 100%;
      height: auto;
    }
    &-paragraph {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      color: #313131;
    }
    &-icon {
      margin-right: 10px;
    }
  }
  &__date {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: #898989;
  }
  &__button {
      margin-top: 10px;
  }
  &__next {
    top: 50%;
    right: -70px;
    transform: translateY(-50%);

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide-active {

}
