<footer class="footer">
    <div class="footer__container">
        <div class="footer__col">
            <div class="footer__logo-container">
                <span class="footer__logo-icon"></span>
                <span class="footer__logo">TymDev</span>
            </div>
            <div>
                <span class="footer__text">2019 TymDev sp. z o. o. ®</span>
                <span class="footer__text">all rights reserved ©</span>
            </div>
        </div>
        <div class="footer__col">
            <ul class="footer__list">
                <li>
                    <span (click)="scrollToElement('skills')">umiejętności</span>
                </li>
                <li>
                    <span (click)="scrollToElement('portfolio')">portfolio</span>
                </li>
                <li>
                    <span (click)="scrollToElement('contact')">kontakt</span>
                </li>
                <li>
                    <a href="http://tymdev.pl/admin">dla klientów</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <ul class="footer__list footer__list--multiple">
                <li>
                    <span class="gh-icon"></span>
                    <a href="https://github.com/d0peCode">GitHub</a>
                </li>
                <li>
                    <span class="so-icon"></span>
                    <a href="https://stackoverflow.com/users/8425145/dopecode">StackOverflow</a>
                </li>
                <li>
                    <span class="li-icon"></span>
                    <a href="#skills">LinkedIn</a>
                </li>
            </ul>
        </div>
        <div class="footer__col">
            <ul class="footer__list">
                <li>
                    <a href="mailto:kontakt@tymdev.pl" target="_top">kontakt@tymdev.pl</a>
                </li>
                <li>
                    <a href="tel:795691258">+48 795 691 258</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
