<section class="contact">
    <div class="contact__col">
        <header class="contact__header">
            <h2 class="heading heading--primary">Kontakt</h2>
            <p class="contact__header-paragraph">Zapraszam do kontaktu jeśli chcesz mnie zatrudnić lub podjąć wszelaką współpracę.</p>
            <div class="contact__links">
                <a href="mailto:kontakt@tymdev.pl" target="_top">kontakt@tymdev.pl</a>
                <a href="tel:123-456-7890">+48 999 999 999</a>
            </div>
            <img src="../../assets/message.png" alt="">
        </header>
    </div>
    <div class="contact__col">
        <form class="contact__form">
            <div class="contact__input-box">
                <label for="email" class="contact__input-label">adres e-mail</label>
                <input type="email" id="email" class="contact__input-input" placeholder="example@gmail.com">
            </div>
            <div class="contact__input-box">
                <label for="phone" class="contact__input-label">numer telefonu (opcjonalne)</label>
                <input type="tel" id="phone" class="contact__input-input" placeholder="999 999 999">
            </div>
            <div class="contact__input-box">
                <label for="message" class="contact__input-label">wiadomość</label>
                <textarea id="message" class="contact__input-textarea" placeholder="Your message..."></textarea>
            </div>
        </form>
    </div>
</section>