<section class="skills" id="skills">
    <header class="skills__top">
        <h2 class="heading heading--primary">{{ 'skills' | translate }}</h2>
        <p class="skills__top-paragraph">{{ 'skills-text' | translate }}</p>
    </header>
    <div class="skills__body">
        <div class="swiper-wrapper">
            <section *ngFor="let item of slides; let i = index" class="swiper-slide"
                     [ngClass]="[
                       i === 0 || i === 3 ? 'skills__body-box--left' : '',
                       i === 1 || i === 4 ? 'skills__body-box--middle' : '',
                       i === 2 || i === 5 ? 'skills__body-box--right' : ''
            ]">
                <div class="skills__body-box">
                    <div class="skills__body-box-icon">
                        <img [src]="item.image.src" [alt]="item.image.alt">
                    </div>
                    <div class="skills__body-box-header">
                        <h3 *ngIf="item.header === 'responsiveness'">{{ item.header | translate }}</h3>
                        <h3 *ngIf="item.header !== 'responsiveness'">{{ item.header }}</h3>
                    </div>
                    <div class="skills__body-box-text">
                        <p>{{ item.text | translate }}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <button type="button" class="skills__button skills__button--left button-icon--right button-circle" (click)="previousSlide()">
        <span class="button-circle__arrow">&larr;</span>
    </button>
    <button type="button" class="skills__button skills__button--right button-icon--right button-circle" (click)="nextSlide()">
        <span class="button-circle__arrow">&rarr;</span>
    </button>
</section>
