<nav class="nav">
    <ul class="nav__list">
        <li>
            <span (click)="scrollToElement('skills')" i18n="skills">umiejętności</span>
        </li>
        <li>
            <span (click)="scrollToElement('portfolio')">portfolio</span>
        </li>
        <li>
            <span (click)="scrollToElement('contact')" i18n="valuation">Wycena</span>
        </li>
        <li>
            <a routerLink="/blog">blog</a>
        </li>
        <li>
            <a href="http://tymdev.pl/admin" i18n="for-clients">dla klientów</a>
        </li>
    </ul>
</nav>
