<header class="greeting">
    <h2 class="greeting__header">
        <span class="greeting__header--top">Welcome</span>
        <span class="greeting__header--bottom">Hello World!</span>
    </h2>
    <p class="greeting__paragraph">Miło Cię widzieć na mojej stronie! Zapraszam do przejrzenia moich prac oraz do współpracy.</p>
    <div class="greeting__button">
        <a href="#portfolio" class="button button--primary">
            <span class="button-text">Projekty</span>
            <span class="button-icon">&#9660;</span>
        </a>
    </div>
</header>