<section class="logo">
    <span class="logo__icon"></span>
    <h1 class="logo__header">TymDev</h1>
    <ul class="logo__social-list">
        <li>
            <img src="../../../../../assets/icons/gh.png" alt="GitHub" class="logo__social-list-icon">
        </li>
        <li>
            <img src="../../../../../assets/icons/so.png" alt="StackOverflow" class="logo__social-list-icon logo__social-list-icon--so">
        </li>
        <li>
            <img src="../../../../../assets/icons/li.png" alt="LinkedIn" class="logo__social-list-icon">
        </li>
    </ul>
</section>
