.logo {
  display: flex;
  position: absolute;
  top: 20px;
  width: 70%;
  left: 15%;

  @media screen and (max-width: 1000px) {
    left: 5%;
  }
  @media screen and (max-width: 600px) {
    left: 10px;
    top: 10px;
    z-index: 2;
  }

  &__icon {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #3a55e9;
    border-radius: 50%;
  }

  &__header {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: #313131;

    @media screen and (max-width: 600px) {
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }
  &__social-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 10px;

    @media screen and (max-width: 600px) {
      margin-left: 4px;
    }

    & li {
      display: flex;
      align-items: center;
      height: 45px;
    }

    &-icon {
      filter: invert(100%);
      width: 23px;
      height: 23px;
      margin: 0 2px;

      @media screen and (max-width: 600px) {
        filter: invert(0);
      }

      &--so {
          width: 18px;
      }
    }
  }
}
