<nav class="nav">
    <ul class="nav__list">
        <li>
            <span (click)="scrollToElement('skills')">{{ 'skillsInNav' | translate }}</span>
        </li>
        <li>
            <span (click)="scrollToElement('portfolio')">portfolio</span>
        </li>
        <li>
            <span (click)="scrollToElement('contact')">{{ 'valuationInNav' | translate }}</span>
        </li>
        <li>
            <a routerLink="/blog">blog</a>
        </li>
        <li>
            <a href="https://admin.tymdev.pl/" target="_blank">{{ 'clientsInNav' | translate }}</a>
        </li>
    </ul>
</nav>
